.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
  column-gap: 32px;
  row-gap: 48px;
  justify-content: center;
  margin-bottom: 80px;
}

.button {
  display: block;
  margin-inline: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 37px;
  width: 156px;
  height: var(--button-height);
}
