.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 26px;
  background-color: var(--badges);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
